.box{width: 400px;height: 320px;margin: 30px auto;text-emphasis: center;padding: 20px;}

input{padding: 5px 8px;}
.button{color: #fff;background: #4267ac;width: 125px;padding: 10px 0;}
#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}